@font-face {
    font-family: Scoreboard;
    src: url("../../CorsaceAssets/fonts/scoreboard.ttf");
}

:root {
    --standard: #fb2475;
    --taiko: rgba(252, 252, 81, 0.973);
    --fruits: rgb(68, 255, 124);
    --mania: rgb(77, 77, 255);
    --storyboard: rgb(211, 100, 255);
}

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
}

body {
    margin:0;
    min-height: 100%;
    background-image: url("../../CorsaceAssets/img/ayim-mca/site/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
	font-size: 1rem;
}
